.wp-block-group.slider {

  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  max-width: 80%;;

  > .wp-block-group__inner-container {

    @include absolutebox();

    .flickity-viewport {

      @include absolutebox();
      max-width: 100% !important;

      .flickity-slider {

        .wp-block-cover {

          // width: 100% !important; /* full width */
          // height: 100%;     

          .wp-block-cover__background {


          }

          img.wp-block-cover__image-background {


          }

          .wp-block-cover__inner-container {

            .wp-block-group {

              width: fit-content;
              max-width: 80%;

            }
          }
        }
      }
    }
  }
}