.wp-block-gallery.slider {

  height: 50vh;
  position: relative;
  margin-bottom: 0;

  .flickity-viewport {

    @include absolutebox();

    .wp-block-image {

      width: 100% !important; /* full width */
      height: 100%;      
      margin-right: 10px;

      figcaption {

        transition-property: transform;
        transition-duration: 0.5s;

        transform: translateY(100%);
      }

      &:hover {

        figcaption {

          transform: translateY(0);
        }        
      }
    } 
  }
}