
$space: 8px;

$color-dark: #000000;
$color-light: #ffffff;

$color-dark-transparent-a: rgba(0, 0, 0, 0.5);
$color-light-transparent-a: rgba(255, 255, 255, 0.5);

$color-success: rgb(0, 158, 8);
$color-error: rgb(158, 11, 0);
$color-warning: rgb(202, 107, 18);