/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/app/scss/main.scss ***!
  \*****************************************************************************************************************/
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-bottom: 0.4em;
}

a {
  font-weight: 900;
}

.menu-item a {
  font-weight: 100;
}

.ast-mobile-header-content div[data-section=section-hb-social-icons-1] {
  background: #ffffff;
  width: fit-content;
  padding: 1px 3px;
  margin: 8px 8px 0 auto;
}

/* WOO */
.woocommerce-product-details__short-description {
  margin: 0 0 0 0;
}
.woocommerce-product-details__short-description h1,
.woocommerce-product-details__short-description h2,
.woocommerce-product-details__short-description h3,
.woocommerce-product-details__short-description h4,
.woocommerce-product-details__short-description h5,
.woocommerce-product-details__short-description h6 {
  margin: 0.4em 0;
}

.wpmenucart-contents {
  padding: 0 20px;
}

body.single-product #content {
  padding-top: 24px;
}

@media (min-width: 922px) {
  .woocommerce #content .ast-woocommerce-container div.product div.images,
.woocommerce .ast-woocommerce-container div.product div.images,
.woocommerce-page #content .ast-woocommerce-container div.product div.images,
.woocommerce-page .ast-woocommerce-container div.product div.images {
    width: 100%;
  }
  .woocommerce #content .ast-woocommerce-container div.product div.summary,
.woocommerce .ast-woocommerce-container div.product div.summary,
.woocommerce-page #content .ast-woocommerce-container div.product div.summary,
.woocommerce-page .ast-woocommerce-container div.product div.summary {
    width: 100%;
  }
}
html {
  height: 100%;
}

body.volvemos-pronto {
  height: 100%;
  overflow: hidden;
}
body.volvemos-pronto #page,
body.volvemos-pronto #content,
body.volvemos-pronto .ast-container,
body.volvemos-pronto #primary,
body.volvemos-pronto #main,
body.volvemos-pronto article.page,
body.volvemos-pronto .entry-content,
body.volvemos-pronto .wp-block-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 922px) {
  body.volvemos-pronto .ast-container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  body.volvemos-pronto #primary {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.ps-visual {
  transition-delay: 0;
}
.ps-visual.ps-delay-10 {
  transition-delay: 0.1s;
}
.ps-visual.ps-delay-20 {
  transition-delay: 0.2s;
}
.ps-visual.ps-delay-30 {
  transition-delay: 0.3s;
}
.ps-visual.ps-delay-40 {
  transition-delay: 0.4s;
}
.ps-visual.ps-delay-50 {
  transition-delay: 0.5s;
}
.ps-visual.ps-fadein {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.ps-visual.ps-fadein.ps-in-viewport {
  opacity: 1;
}
.ps-visual.ps-left-zoom {
  opacity: 0;
  transform: translateX(-30%) scale(0.9);
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.ps-visual.ps-left-zoom.ps-in-viewport {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.ps-visual.ps-top-zoom {
  opacity: 0;
  transform: translateY(-30%) scale(0.9);
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.ps-visual.ps-top-zoom.ps-in-viewport {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.ps-visual.ps-bottom-zoom {
  opacity: 0;
  transform: translateY(30%) scale(0.9);
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.ps-visual.ps-bottom-zoom.ps-in-viewport {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.ps-hover.ps-scale {
  transform: scale(1);
  transition-delay: 0;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.ps-hover.ps-scale:hover {
  transform: scale(1.1);
}

.wp-block-button {
  transform: scale(1);
  transition-delay: 0;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.wp-block-button:hover:not(:disabled) {
  transform: scale(1.2);
}

.shortcode.subscribe {
  max-width: 300px;
  margin: 0 auto;
}
.shortcode.subscribe form {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.shortcode.subscribe form .field {
  flex: 1;
}
.shortcode.subscribe form .field input {
  padding: 8px;
  border-radius: 4px;
  height: 36px;
  width: 100%;
}
.shortcode.subscribe form .field input:valid {
  border: solid 2px rgb(0, 158, 8);
}
.shortcode.subscribe form .field input:invalid:required {
  border: solid 2px rgb(158, 11, 0);
}
.shortcode.subscribe form .field label {
  display: block;
  margin: 8px 0 0 0;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.shortcode.subscribe form .field label.error {
  color: rgb(158, 11, 0);
}
.shortcode.subscribe form .wp-block-button {
  cursor: pointer;
}
.shortcode.subscribe form .wp-block-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.shortcode.subscribe .message {
  display: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.shortcode.subscribe .message.success {
  color: rgb(0, 158, 8);
}
.shortcode.subscribe .message.error {
  color: rgb(158, 11, 0);
}
.shortcode.subscribe .message.warning {
  color: rgb(202, 107, 18);
}

.shortcode.qa {
  max-width: 300px;
  margin: 0 auto;
}
.shortcode.qa form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.shortcode.qa form .field {
  width: 100%;
}
.shortcode.qa form .field textarea {
  padding: 8px;
  display: block;
  width: 100%;
  border: solid 2px rgb(158, 11, 0);
}
.shortcode.qa form .field textarea.valid {
  border: solid 2px rgb(0, 158, 8);
}
.shortcode.qa form .field label {
  display: block;
  margin: 8px 0 0 0;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.shortcode.qa form .field label.error {
  color: rgb(158, 11, 0);
}
.shortcode.qa form .wp-block-button {
  cursor: pointer;
  width: fit-content;
}
.shortcode.qa form .wp-block-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.shortcode.qa .message {
  display: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.shortcode.qa .message.success {
  color: rgb(0, 158, 8);
}
.shortcode.qa .message.error {
  color: rgb(158, 11, 0);
}
.shortcode.qa .message.warning {
  color: rgb(202, 107, 18);
}

.wp-block-gallery.slider {
  height: 50vh;
  position: relative;
  margin-bottom: 0;
}
.wp-block-gallery.slider .flickity-viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wp-block-gallery.slider .flickity-viewport .wp-block-image {
  width: 100% !important; /* full width */
  height: 100%;
  margin-right: 10px;
}
.wp-block-gallery.slider .flickity-viewport .wp-block-image figcaption {
  transition-property: transform;
  transition-duration: 0.5s;
  transform: translateY(100%);
}
.wp-block-gallery.slider .flickity-viewport .wp-block-image:hover figcaption {
  transform: translateY(0);
}

.wp-block-group.slider {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  max-width: 80%;
}
.wp-block-group.slider > .wp-block-group__inner-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wp-block-group.slider > .wp-block-group__inner-container .flickity-viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100% !important;
}
.wp-block-group.slider > .wp-block-group__inner-container .flickity-viewport .flickity-slider .wp-block-cover .wp-block-cover__inner-container .wp-block-group {
  width: fit-content;
  max-width: 80%;
}

.wp-block-query .wp-block-post-template {
  margin-left: 0;
}
.wp-block-query .wp-block-post-template .wp-block-post .wp-block-group {
  height: 100%;
}

.wp-block-query.slider ul.wp-block-post-template .flickity-viewport .flickity-slider .wp-block-post {
  width: 100%;
}
.wp-block-query.slider ul.wp-block-post-template .flickity-viewport .flickity-slider .wp-block-post .wp-block-group {
  position: absolute;
  bottom: 32px;
  left: 32px;
  height: auto;
  max-width: 300px;
}
.wp-block-query.slider ul.wp-block-post-template .flickity-viewport .flickity-slider .wp-block-post .wp-block-group p {
  margin: 0;
}

#fullgallery {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
}
#fullgallery .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  cursor: url(/wp-content/themes/astra-child-noshibari/assets/nextimg.png), auto;
  z-index: 0;
}
#fullgallery .container .slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}
#fullgallery .container .slide.visible {
  opacity: 1;
}
#fullgallery .close {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  background-image: url(/wp-content/themes/astra-child-noshibari/assets/close-window.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}

.woocommerce-js .ast-woocommerce-container {
  margin-top: 48px;
}
.woocommerce-js .ast-woocommerce-container div.product .woocommerce-product-gallery {
  margin-bottom: 0 !important;
}
.woocommerce-js .ast-woocommerce-container div.product .summary.entry-summary {
  margin-bottom: 0 !important;
}
.woocommerce-js .ast-woocommerce-container div.product .woocommerce-tabs {
  padding-top: 0 !important;
}

/*# sourceMappingURL=main.css.map*/